apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "crudapp.fullname" . }}
  labels:
    {{- include "crudapp.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "crudapp.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "crudapp.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP

          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          env:
            # --- Secret Values ---
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: crud-secret
                  key: DB_HOST

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: crud-secret
                  key: DB_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: crud-secret
                  key: DB_PASSWORD

            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: crud-secret
                  key: AWS_ACCESS_KEY_ID

            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: crud-secret
                  key: AWS_SECRET_ACCESS_KEY

            - name: AWS_SESSION_TOKEN
              valueFrom:
                secretKeyRef:
                  name: crud-secret
                  key: AWS_SESSION_TOKEN

            # --- ConfigMap Values ---
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: crud-configmap
                  key: DB_NAME

            - name: S3_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: crud-configmap
                  key: S3_BUCKET

            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: crud-configmap
                  key: APP_ENV
